# Quarto rendered HTML and auxiliary files
assignment_sub/*/*.html
assignment_sub/*/*_files/
assignment_sub/*/.jupyter_cache/

# Python related
*venv*/
*__pycache__

# Temp files
*.npy
log*

# A2 Q2 results, i.e. rewards (scores) in iterations
# we only need the plots based on them, so ignore these
assignment_sub/*/results/*-baseline*/
assignment_sub/*/results/*-no_baseline*/
assignment_sub/*/results/*-ppo*/